Flask==3.1.3
anyio==4.12.1
tomli==2.4.0
shellingham==1.5.4
contourpy==1.3.2
unicodedata2==17.0.1
chardet==7.1.0
shapely==2.0.7
threadpoolctl==3.6.0
uri-template==1.3.0
requests==2.33.1
requests==2.32.5
rfc3339-validator==0.1.4
pexpect==4.9.0
xyzservices==2025.11.0
munkres==1.1.4
lazy_loader==0.4
lazy-loader==0.5
cloudpickle==3.1.2
fqdn==1.5.1
llvmlite==0.44.0
toolz==1.1.0
standard-sunau==3.13.0
streamlit==1.55.0
traitlets==5.14.3
exceptiongroup==1.3.1
pyreadstat==1.3.3
nest-asyncio==1.6.0
nbconvert==7.17.0
click==8.3.1
asttokens==3.0.1
pyvis==0.3.2
ptyprocess==0.7.0
importlib_resources==7.1.0
lark==1.3.1
isoduration==20.11.0
pillow==11.1.0
pillow==12.1.1
certifi==2026.2.25
certifi==2026.4.22
tzdata==2025.3
matplotlib==3.10.9
pretty_midi==0.2.11
toml==0.10.2
folium==0.20.0
platformdirs==4.9.2
platformdirs==4.9.6
overrides==7.7.0
mistune==3.2.0
scikit-learn==1.7.2
webencodings==0.5.1
soxr==1.0.0
jsonpickle==4.1.1
prometheus_client==0.24.1
tinycss2==1.4.0
ultralytics==8.4.19
pydeck==0.9.1
jsonschema-specifications==2025.9.1
executing==2.2.1
pydantic==2.12.5
ImageIO==2.37.2
defusedxml==0.7.1
statsmodels==0.14.6
jupyterlab_server==2.28.0
openpyxl==3.1.5
pickleshare==0.7.5
linearmodels==7.0
numexpr==2.14.1
locket==1.0.0
validators==0.35.0
blinker==1.9.0
torchaudio==2.2.2
websocket-client==1.9.0
jsonschema==4.26.0
babel==2.18.0
seaborn==0.13.2
networkx==3.4.2
fsspec==2026.2.0
polars-runtime-32==1.38.1
jedi==0.19.2
setuptools==78.1.1
transformers==5.3.0
et_xmlfile==2.0.0
tornado==6.5.4
kiwisolver==1.5.0
kiwisolver==1.4.9
idna==3.11
idna==3.13
itsdangerous==2.2.0
PySocks==1.7.1
bleach==6.3.0
numba==0.61.2
debugpy==1.8.20
packaging==26.2
packaging==26.0
PyMuPDF==1.27.2
typer==0.24.1
cffi==2.0.0
cffi==1.17.1
openai==2.24.0
pandocfilters==1.5.1
huggingface_hub==1.5.0
torchlibrosa==0.1.0
async-lru==2.2.0
jsonpointer==3.0.0
rich==14.3.3
appnope==0.1.4
numpy==1.26.4
Send2Trash==2.1.0
tenacity==9.1.4
prompt_toolkit==3.0.52
httpcore==1.0.9
xarray==2025.6.1
pypsa==0.35.2
decorator==5.2.1
jupyter_client==8.8.0
soupsieve==2.8.3
webcolors==25.10.0
nbformat==5.10.4
pyogrio==0.12.1
cachetools==7.0.5
stack-data==0.6.3
ipython==8.12.3
charset-normalizer==3.4.4
charset-normalizer==3.4.7
sympy==1.14.0
polars==1.38.1
markdown-it-py==4.0.0
pyhdfe==0.2.0
ipykernel==7.2.0
volcengine-python-sdk==5.0.16
matplotlib-inline==0.2.1
wrapt==2.2.1
isodate==0.7.2
backcall==0.2.0
hf-xet==1.3.2
pytz==2026.1.post1
librosa==0.9.2
pooch==1.9.0
python-json-logger==4.0.0
pyarrow==23.0.1
h11==0.16.0
protobuf==6.33.6
gitdb==4.0.12
jupyter_server_terminals==0.5.4
sniffio==1.3.1
smmap==5.0.3
pycparser==3.0
pycparser==2.22
fonttools==4.62.1
fonttools==4.61.1
mdurl==0.1.2
patsy==1.0.2
standard-aifc==3.13.0
piano-transcription-inference==0.0.6
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
PyYAML==6.0.3
rfc3987-syntax==1.1.0
plotly==6.7.0
mido==1.3.3
urllib3==2.2.1
urllib3==2.6.3
parso==0.8.6
yarg==0.1.9
pyproj==3.7.1
pydantic_core==2.41.5
regex==2026.2.28
resampy==0.4.3
jupyter-events==0.12.0
nbclient==0.10.4
scipy==1.15.2
scipy==1.15.3
torch==2.2.2
ipywidgets==8.1.8
sentence-transformers==5.5.0
wcwidth==0.6.0
partd==1.4.2
typing_extensions==4.15.0
jupyter_core==5.9.1
fastjsonschema==2.21.2
beautifulsoup4==4.14.3
argon2-cffi==25.1.0
jupyter_server==2.17.0
zipp==3.23.1
docopt==0.6.2
joblib==1.5.3
geopandas==1.1.3
cycler==0.12.1
opencv-python==4.9.0.80
Jinja2==3.1.6
wheel==0.45.1
widgetsnbextension==4.0.15
referencing==0.37.0
pyparsing==3.3.2
torchvision==0.17.2
pandas==2.3.3
soundfile==0.13.1
jupyterlab_widgets==3.0.16
jiter==0.13.0
argon2-cffi-bindings==25.1.0
formulaic==1.2.1
MarkupSafe==3.0.3
pip==26.0.1
Werkzeug==3.1.8
msgpack==1.1.2
cftime==1.6.5
pure_eval==0.2.3
deprecation==2.1.0
distro==1.9.0
GitPython==3.1.46
tabulate==0.10.0
Pygments==2.19.2
ultralytics-thop==2.0.18
rfc3986-validator==0.1.1
interface_meta==2.0.1
importlib_metadata==9.0.0
terminado==0.18.1
attrs==25.4.0
linopy==0.7.0
Brotli==1.2.0
dask==2026.3.0
jupyter-lsp==2.3.0
narwhals==2.18.0
httpx==0.28.1
jupyterlab==4.5.5
pipreqs==0.5.0
tqdm==4.67.3
branca==0.8.2
json5==0.13.0
safetensors==0.7.0
tokenizers==0.22.2
psutil==7.2.2
altair==6.0.0
rdflib==7.6.0
filelock==3.25.0
typing-inspection==0.4.2
annotated-types==0.7.0
Bottleneck==1.6.0
tifffile==2025.5.10
netCDF4==1.7.4
cryptography==46.0.5
arrow==1.4.0
cmake==4.3.2
mypy_extensions==1.1.0
rpds-py==0.30.0
scikit-image==0.25.2
six==1.17.0
highspy==1.14.0
pyzmq==27.1.0
nltk==3.9.4
audioread==3.0.1
notebook_shim==0.2.4
annotated-doc==0.0.4
comm==0.2.3
